<section class="section-slider point-padd" id="about">
  <div class="bg ready data-jarallax" data-jarallax="5" style="background-image: none; background-attachment: scroll; background-size: auto;"><div id="jarallax-container-0" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; transition: transform linear -1ms, -webkit-transform linear -1ms; visibility: hidden; z-index: -100;">
    <div style="background-position: 50% 50%; background-repeat: no-repeat; background-image: url(/assets/img/about_bg.jpg); position: fixed; top: 0px; left: 0px; width: 1349px; height: 992px; overflow: hidden; pointer-events: none; transition: transform linear -1ms, -webkit-transform linear -1ms; background-size: 1934.56px 992px; visibility: visible; transform: translate3d(0px, -438.5px, 0px);"></div>
  </div>
  </div>
  <div class="black-layer"></div>
  <div class="container">
    <div class="section-caption white-color">
      <h2 class="h2 caption-stye-1 type-1">about company</h2>
      <div class="simple-text sm">
        <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Curabitur feugiat feugiat and brane in bibendum sed sollicitudin elit condimentum</p>
      </div>
    </div>
  </div>
  <div class="swiper-container about-slider swiper-swiper-unique-id-1 initialized" data-autoplay="0" data-loop="0" data-speed="600" data-center="0" data-slides-per-view="1" id="swiper-unique-id-1">
    <div class="swiper-wrapper" style="width: 4047px; height: 479px;">
      <div class="swiper-slide active swiper-slide-visible swiper-slide-active" data-val="0" style="width: 1349px; height: 479px;">
        <div class="container">
          <div class="about-slide">
            <div class="image"><%= image_tag("img/about_slide_img_1.jpg") %></div>
            <ul class="about-list">
              <li><span class="circle-point">1.</span>
                <div class="text">
                  <h4 class="h4 title">the best work team</h4>
                  <div class="simple-text">
                    <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Curabitur feugiat feugiat and brane in bibendum</p>
                  </div>
                </div>
              </li>
              <li><span class="circle-point">2.</span>
                <div class="text">
                  <h4 class="h4 title">perfect work condition</h4>
                  <div class="simple-text">
                    <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Curabitur feugiat feugiat and brane in bibendum</p>
                  </div>
                </div>
              </li>
              <li><span class="circle-point">3.</span>
                <div class="text">
                  <h4 class="h4 title">seccesful result</h4>
                  <div class="simple-text">
                    <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Curabitur feugiat feugiat and brane in bibendum</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-val="1" style="width: 1349px; height: 479px;">
        <div class="container">
          <div class="about-slide">
            <div class="image"><%= image_tag("img/about_slide_img_1.jpg") %></div>
            <ul class="about-list">
              <li><span class="circle-point">1.</span>
                <div class="text">
                  <h4 class="h4 title">the best work team</h4>
                  <div class="simple-text">
                    <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Curabitur feugiat feugiat and brane in bibendum</p>
                  </div>
                </div>
              </li>
              <li><span class="circle-point">2.</span>
                <div class="text">
                  <h4 class="h4 title">perfect work condition</h4>
                  <div class="simple-text">
                    <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Curabitur feugiat feugiat and brane in bibendum</p>
                  </div>
                </div>
              </li>
              <li><span class="circle-point">3.</span>
                <div class="text">
                  <h4 class="h4 title">seccesful result</h4>
                  <div class="simple-text">
                    <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Curabitur feugiat feugiat and brane in bibendum</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="swiper-slide" data-val="2" style="width: 1349px; height: 479px;">
        <div class="container">
          <div class="about-slide">
            <div class="image"><%= image_tag("img/about_slide_img_1.jpg") %></div>
            <ul class="about-list">
              <li><span class="circle-point">1.</span>
                <div class="text">
                  <h4 class="h4 title">the best work team</h4>
                  <div class="simple-text">
                    <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Curabitur feugiat feugiat and brane in bibendum</p>
                  </div>
                </div>
              </li>
              <li><span class="circle-point">2.</span>
                <div class="text">
                  <h4 class="h4 title">perfect work condition</h4>
                  <div class="simple-text">
                    <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Curabitur feugiat feugiat and brane in bibendum</p>
                  </div>
                </div>
              </li>
              <li><span class="circle-point">3.</span>
                <div class="text">
                  <h4 class="h4 title">seccesful result</h4>
                  <div class="simple-text">
                    <p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Curabitur feugiat feugiat and brane in bibendum</p>
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
    <div class="pagination pagination-style-1 bottom-lg  pagination-swiper-unique-id-1"><span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span></div>
  </div>
</section>