<div class="content">
      	  
       	  <section class="section">
      	  	 <div class="container">
       	  	  <div class="section-caption">
       	  	  	  <h2 class="h2 caption-stye-1 type-2">who we are</h2>
       	  	  	    <div class="simple-text sm">
       	  	  	    	<p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Curabitur feugiat feugiat and brane in bibendum sed sollicitudin elit condimentum</p>
       	  	  	    </div>
       	  	  </div>
       	  	  <div class="about-content">
      	  	  	 <div class="about-item center-align">
      	  	  	  <div class="image"><img src="img/about_1.png" alt=""></div>
      	  	  	 	<h4 class="h4 title">target market</h4>
      	  	  	 	 <div class="simple-text">
      	  	  	 	 	<p>Lorem ipsum dolor sit amet, consec tetur adipiscing and brane in bibendum</p>
      	  	  	 	 </div>
      	  	  	 </div>
      	  	  	 <div class="about-item right-align">
      	  	  	  <div class="image"><img src="img/about_2.png" alt=""></div>
      	  	  	 	<h4 class="h4 title">creative compaings</h4>
      	  	  	 	 <div class="simple-text">
      	  	  	 	 	<p>Lorem ipsum dolor sit amet, consec tetur adipiscing and brane in bibendum</p>
      	  	  	 	 </div>
      	  	  	 </div>
      	  	  	 <div class="about-item left-align">
      	  	  	  <div class="image"><img src="img/about_5.png" alt=""></div>
      	  	  	 	<h4 class="h4 title">start up projects</h4>
      	  	  	 	 <div class="simple-text">
      	  	  	 	 	<p>Lorem ipsum dolor sit amet, consec tetur adipiscing and brane in bibendum</p>
      	  	  	 	 </div>
      	  	  	 </div>
      	  	  	 <div class="about-item left-align">
      	  	  	  <div class="image"><img src="img/about_4.png" alt=""></div>
      	  	  	 	<h4 class="h4 title">marketing strategy</h4>
      	  	  	 	 <div class="simple-text">
      	  	  	 	 	<p>Lorem ipsum dolor sit amet, consec tetur adipiscing and brane in bibendum</p>
      	  	  	 	 </div>
      	  	  	 </div>
      	  	  	 <div class="about-item right-align">
      	  	  	  <div class="image"><img src="img/about_3.png" alt=""></div>
      	  	  	 	<h4 class="h4 title">innovation ideas</h4>
      	  	  	 	 <div class="simple-text">
      	  	  	 	 	<p>Lorem ipsum dolor sit amet, consec tetur adipiscing and brane in bibendum</p>
      	  	  	 	 </div>
      	  	  	 </div>
      	  	  	 <div class="about-item bottom-align">
      	  	  	  <div class="image"><img src="img/about_6.png" alt=""></div>
      	  	  	 	<h4 class="h4 title">business analysis</h4>
      	  	  	 	 <div class="simple-text">
      	  	  	 	 	<p>Lorem ipsum dolor sit amet, consec tetur adipiscing and brane in bibendum</p>
      	  	  	 	 </div>
      	  	  	 </div>
       	  	  	 <div class="circle hover-circle">
       	  	  	  <div class="circle-point big"></div>
       	  	  	 	<div class="vertical-align">
       	  	  	 		<span>your<br> gold<br> is<br> your<br> brain</span>
       	  	  	 	</div>
       	  	  	 </div>
       	  	  </div>
       	  	 </div> 
       	  </section>
       	   
       	    <%= render :partial => "home/about_company" %>
     
                <%= render :partial => "home/specialization" %>
 
                <%= render :partial => "home/services" %>
                <%= render :partial => "home/traction" %>
          
     
          <section class="section">
       	     <div class="bg ready data-jarallax" data-jarallax="5" style="background-image: none; background-attachment: scroll; background-size: auto;"><div id="jarallax-container-2" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; transition: transform linear -1ms, -webkit-transform linear -1ms; visibility: hidden; z-index: -100;"><div style="background-position: 50% 50%; background-repeat: no-repeat; background-image: url(&quot;file:///D:/Users/pandeyam/Documents/HTML/Paid%20Themes/demo/img/video_bg.jpg&quot;); position: fixed; top: 0px; left: 0px; width: 1349px; height: 552px; overflow: hidden; pointer-events: none; transition: transform linear -1ms, -webkit-transform linear -1ms; background-size: 1878.26px 552px; visibility: visible; transform: translate3d(0px, 4001.5px, 0px);"></div></div></div>
			 <div class="black-layer"></div>
			 <div class="container">
       	  	  <div class="section-caption white-color">
       	  	  	  <h2 class="h2 caption-stye-1 type-1">Praesent tincidunt accumsan</h2>
       	  	  	    <div class="simple-text sm">
       	  	  	       <p>Donec id justo arcu. Nullam euismod facilisis lectus eu imperdiet. In nec suscipit sapien. Aenean sit amet malesuada felis. In dignissim purus tincidunt lectus pretium, a interdum leo egestas. Nam in venenatis est, sed consequat massa</p>
       	  	  	    </div>
       	  	  </div>
       	  	  <div class="play-button"><i class="icon-play"></i></div>
			 </div>
			 <div class="video-item">
			   <div class="video-wrapper">
				 <video loop="" class="bgvid">
					<source type="video/webm" src="video/video.webm">
					<source type="video/mp4" src="video/video.mp4">
					<source type="video/mp4" src="video/video.ogv">
				 </video>
				 <div class="close-video"><span>+</span></div>
			   </div>
			 </div>
		  </section>
     
          <section class="section">
             <div class="container">
       	  	  <div class="section-caption">
       	  	  	  <h2 class="h2 caption-stye-1 type-2">our team</h2>
       	  	  	    <div class="simple-text sm">
       	  	  	    	<p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Curabitur feugiat feugiat and brane in bibendum sed sollicitudin elit condimentum</p>
       	  	  	    </div>
       	  	  </div>
       	  	  <div class="row">
                     <div class="col-lg-3 col-md-6 col-sm-12">
				        <div class="team-item open-popup" data-rel="index-1">
				          <div class="image"><img src="img/team_1.jpg" alt=""></div>
				           <div class="team-text">
				            <div class="team-caption">
				              <h5 class="h5 title">nataly menzin</h5>
				                <span class="sub-title">web-designer</span>
		                    </div>
			                   <div class="add-text">
			                  	 <div class="simple-text">
			                  	 	<p>Maecenas dictum turpis a quam scelerisque, sed sollicitudin elit condimentum</p>
			                  	 </div>
			                   </div>
				               <div class="folow">
				               	  <a href="#"><i class="icon-facebook"></i></a>
				               	  <a href="#"><i class="icon-pinterest"></i></a>
				               	  <a href="#"><i class="icon-instagram"></i></a>
				               	  <a href="#"><i class="icon-twitter"></i></a>
				               </div>
				            </div>    
				        </div> 
				     </div>
			         <div class="col-lg-3 col-md-6 col-sm-12">   
				        <div class="team-item open-popup" data-rel="index-1">
				          <div class="image"><img src="img/team_2.jpg" alt=""></div>
				           <div class="team-text">
				           <div class="team-caption">
				           <h5 class="h5 title">michel smith</h5>
				             <span class="sub-title">developer</span>
						   </div>
			                   <div class="add-text">
			                  	 <div class="simple-text">
			                  	 	<p>Maecenas dictum turpis a quam scelerisque, sed sollicitudin elit condimentum</p>
			                  	 </div>
			                   </div>
				               <div class="folow">
				               	  <a href="#"><i class="icon-facebook"></i></a>
				               	  <a href="#"><i class="icon-pinterest"></i></a>
				               	  <a href="#"><i class="icon-instagram"></i></a>
				               	  <a href="#"><i class="icon-twitter"></i></a>
				               </div>
				            </div>    
				        </div> 
				    </div>
			        <div class="col-lg-3 col-md-6 col-sm-12">
				        <div class="team-item open-popup" data-rel="index-1">
				          <div class="image"><img src="img/team_3.jpg" alt=""></div>
				           <div class="team-text">
				           <div class="team-caption">
				           <h5 class="h5 title">nick jonson</h5>
				             <span class="sub-title">project maneger</span>
						   </div>
			                   <div class="add-text">
			                  	 <div class="simple-text">
			                  	 	<p>Maecenas dictum turpis a quam scelerisque, sed sollicitudin elit condimentum</p>
			                  	 </div>
			                   </div>
				               <div class="folow">
				               	  <a href="#"><i class="icon-facebook"></i></a>
				               	  <a href="#"><i class="icon-pinterest"></i></a>
				               	  <a href="#"><i class="icon-instagram"></i></a>
				               	  <a href="#"><i class="icon-twitter"></i></a>
				               </div>
				            </div>    
				        </div>
				     </div>
				     <div class="col-lg-3 col-md-6 col-sm-12">
				        <div class="team-item open-popup" data-rel="index-1">
				          <div class="image"><img src="img/team_4.jpg" alt=""></div>
				           <div class="team-text">
				           <div class="team-caption">
				           <h5 class="h5 title">mike jordan</h5>
				             <span class="sub-title">sale-maneger</span>
						   </div>
			                   <div class="add-text">
			                  	 <div class="simple-text">
			                  	 	<p>Maecenas dictum turpis a quam scelerisque, sed sollicitudin elit condimentum</p>
			                  	 </div>
			                   </div>
				               <div class="folow">
				               	  <a href="#"><i class="icon-facebook"></i></a>
				               	  <a href="#"><i class="icon-pinterest"></i></a>
				               	  <a href="#"><i class="icon-instagram"></i></a>
				               	  <a href="#"><i class="icon-twitter"></i></a>
				               </div>
				            </div>    
				        </div>
				     </div> 
       	  	  </div>
			 </div>
		  </section>
     
          <section class="section bg-grey">
             <div class="container">
       	  	  <div class="section-caption">
       	  	  	  <h2 class="h2 caption-stye-1 type-2">TIMELINE</h2>
       	  	  	    <div class="simple-text sm">
       	  	  	    	<p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Curabitur feugiat feugiat and brane in bibendum sed sollicitudin elit condimentum</p>
       	  	  	    </div>
       	  	  </div>
       	  	  <div class="timelime-block">
       	  	  	<div class="timeline-item left hover-circle">
       	  	  	  <div class="circle-point sm"></div>
       	  	  		<div class="date-block">
       	  	  		  <div class="circle-point lg">
       	  	  		    <div class="vertical-align">
							<h4 class="h4">14/02</h4>
							  <h2 class="h2">2015</h2>
       	  	  			</div>  
       	  	  		  </div>	  
       	  	  		</div>
       	  	  		<div class="text-block">
       	  	  			<h4 class="h4 title">the best project competition</h4>
       	  	  			  <div class="simple-text">
       	  	  			  	 <p>Duis commodo risus et magna suscipit aliquam. Curabitur gravida efficitur purus. Pellentesque finibus neque sit amet justo volutpat porttitor. Nullam tincidunt enim id turpis feugiat, non rutrum urna vulputate mollis pellentesque</p>
       	  	  			  </div>
       	  	  		</div>
       	  	  	</div>
       	  	  	<div class="timeline-item right hover-circle">
       	  	  	  <div class="circle-point sm"></div>
       	  	  		<div class="date-block">
       	  	  		  <div class="circle-point lg">
       	  	  		    <div class="vertical-align">
							<h4 class="h4">25/05</h4>
							  <h2 class="h2">2015</h2>
						</div>
       	  	  		  </div>	  
       	  	  		</div>
       	  	  		<div class="text-block">
       	  	  			<h4 class="h4 title">we got WEB AWARD</h4>
       	  	  			  <div class="simple-text">
       	  	  			  	 <p>Duis commodo risus et magna suscipit aliquam. Curabitur gravida efficitur purus. Pellentesque finibus neque sit amet justo volutpat porttitor. Nullam tincidunt enim id turpis feugiat, non rutrum urna vulputate mollis pellentesque</p>
       	  	  			  </div>
       	  	  		</div>
       	  	  	</div>
       	  	  	<div class="timeline-item left hover-circle">
       	  	  	  <div class="circle-point sm"></div>
       	  	  		<div class="date-block">
       	  	  		  <div class="circle-point lg">
       	  	  		    <div class="vertical-align">
							<h4 class="h4">20/01</h4>
							  <h2 class="h2">2014</h2>
       	  	  			</div>  
       	  	  		  </div>	  
       	  	  		</div>
       	  	  		<div class="text-block">
       	  	  			<h4 class="h4 title">first big project with “fd”</h4>
       	  	  			  <div class="simple-text">
       	  	  			  	 <p>Duis commodo risus et magna suscipit aliquam. Curabitur gravida efficitur purus. Pellentesque finibus neque sit amet justo volutpat porttitor. Nullam tincidunt enim id turpis feugiat, non rutrum urna vulputate mollis pellentesque</p>
       	  	  			  </div>
       	  	  		</div>
       	  	  	</div>
       	  	  	<div class="timeline-item right last hover-circle">
       	  	  	  <div class="circle-point sm"></div>
       	  	  		<div class="date-block">
       	  	  		  <div class="circle-point lg">
       	  	  		    <div class="vertical-align">
							<h4 class="h4">11/10</h4>
							  <h2 class="h2">2013</h2>
						</div>
       	  	  		  </div>	  
       	  	  		</div>
       	  	  		<div class="text-block">
       	  	  			<h4 class="h4 title">company have been opened</h4>
       	  	  			  <div class="simple-text">
       	  	  			  	 <p>Duis commodo risus et magna suscipit aliquam. Curabitur gravida efficitur purus. Pellentesque finibus neque sit amet justo volutpat porttitor. Nullam tincidunt enim id turpis feugiat, non rutrum urna vulputate mollis pellentesque</p>
       	  	  			  </div>
       	  	  		</div>
       	  	  	</div>
       	  	  	<div class="load-item">
       	  	  	  <div class="timeline-item left hover-circle">
					  <div class="circle-point sm"></div>
						<div class="date-block">
						  <div class="circle-point lg">
							<div class="vertical-align">
								<h4 class="h4">17/06</h4>
								  <h2 class="h2">2013</h2>
							</div>  
						  </div>	  
						</div>
						<div class="text-block">
							<h4 class="h4 title">first big project with “fd”</h4>
							  <div class="simple-text">
								 <p>Duis commodo risus et magna suscipit aliquam. Curabitur gravida efficitur purus. Pellentesque finibus neque sit amet justo volutpat porttitor. Nullam tincidunt enim id turpis feugiat, non rutrum urna vulputate mollis pellentesque</p>
							  </div>
						</div>
					</div>
					<div class="timeline-item right hover-circle">
					  <div class="circle-point sm"></div>
						<div class="date-block">
						  <div class="circle-point lg">
							<div class="vertical-align">
								<h4 class="h4">05/12</h4>
								  <h2 class="h2">2012</h2>
							</div>
						  </div>	  
						</div>
						<div class="text-block">
							<h4 class="h4 title">company have been opened</h4>
							  <div class="simple-text">
								 <p>Duis commodo risus et magna suscipit aliquam. Curabitur gravida efficitur purus. Pellentesque finibus neque sit amet justo volutpat porttitor. Nullam tincidunt enim id turpis feugiat, non rutrum urna vulputate mollis pellentesque</p>
							  </div>
						</div>
					</div>
				</div>
       	  	  </div> 
       	  	  <div class="text-center marg-top">
			    <a href="#" class="link-style-1 load-more"><span>see more</span></a>
				  <span class="no-item">NO MORE</span>
			  </div> 
			 </div>
		  </section>
	  
          <section class="section" id="price">
       	     <div class="bg ready data-jarallax" data-jarallax="5" style="background-image: none; background-attachment: scroll; background-size: auto;"><div id="jarallax-container-3" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; transition: transform linear -1ms, -webkit-transform linear -1ms; visibility: hidden; z-index: -100;"><div style="background-position: 50% 50%; background-repeat: no-repeat; background-image: url(&quot;file:///D:/Users/pandeyam/Documents/HTML/Paid%20Themes/demo/img/price_bg.jpg&quot;); position: fixed; top: 0px; left: 0px; width: 1349px; height: 1032px; overflow: hidden; pointer-events: none; transition: transform linear -1ms, -webkit-transform linear -1ms; background-size: 1798.25px 1032px; visibility: visible; transform: translate3d(0px, 5438.32px, 0px);"></div></div></div>
			 <div class="black-layer"></div>
			 <div class="container">
       	  	  <div class="section-caption white-color">
       	  	  	  <h2 class="h2 caption-stye-1 type-1">OUR PRICING</h2>
       	  	  	    <div class="simple-text sm">
       	  	  	       <p>Donec id justo arcu. Nullam euismod facilisis lectus eu imperdiet. In nec suscipit sapien. Aenean sit amet malesuada felis. In dignissim purus tincidunt lectus pretium, a interdum leo egestas. Nam in venenatis est, sed consequat massa</p>
       	  	  	    </div>
       	  	  </div>
       	  	  <div class="row">
       	  	  	<div class="col-lg-4 col-md-12">
       	  	  	  <div class="padd-30">
       	  	  		<div class="price-item hover-circle">
       	  	  			<div class="circle-point circle-bg lg">
       	  	  			  <div class="price-val">
       	  	  			   <div class="vertical-align">
       	  	  				<span>$<b>99</b>/mo</span>
       	  	  			   </div>	
       	  	  			  </div>	
       	  	  			</div>
       	  	  			<h4 class="h4 title">Standard</h4>
       	  	  			<div class="simple-text">
       	  	  				<p>Duis commodo risus et magna suscipit urabitur gravida efficitur purus</p>
       	  	  			</div>
       	  	  			<ul>
       	  	  				<li><b>12Gb</b> placerat volutpat </li>
       	  	  				<li><b>UNLIMITED</b> auctor</li>
       	  	  				<li><b>50Tb</b> tincidunt rutrum semper</li>
       	  	  				<li><b>69</b> placerat volutpat </li>
       	  	  			</ul>
       	  	  			<a href="#" class="link-style-1"><span>buy it now</span></a>
       	  	  		</div>
       	  	  	  </div>	
       	  	  	</div>
       	  	  	<div class="col-lg-4 col-md-12">
       	  	  	  <div class="padd-30">
       	  	  		<div class="price-item hover-circle">
       	  	  			<div class="circle-point circle-bg lg">
       	  	  			  <div class="price-val">
       	  	  			   <div class="vertical-align">
       	  	  				<span>$<b>250</b>/mo</span>
       	  	  			   </div>	
       	  	  			  </div>	
       	  	  			</div>
       	  	  			<h4 class="h4 title">Advanced</h4>
       	  	  			<div class="simple-text">
       	  	  				<p>Duis commodo risus et magna suscipit urabitur gravida efficitur purus</p>
       	  	  			</div>
       	  	  			<ul>
       	  	  				<li><b>32Gb</b> placerat volutpat </li>
       	  	  				<li><b>UNLIMITED</b> auctor</li>
       	  	  				<li><b>80Tb</b> tincidunt rutrum semper</li>
       	  	  				<li><b>85</b> placerat volutpat </li>
       	  	  			</ul>
       	  	  			<a href="#" class="link-style-1"><span>buy it now</span></a>
       	  	  		</div>
       	  	  	  </div>	
       	  	  	</div>
       	  	  	<div class="col-lg-4 col-md-12">
       	  	  	  <div class="padd-30">
       	  	  		<div class="price-item hover-circle">
       	  	  			<div class="circle-point circle-bg lg">
       	  	  			  <div class="price-val">
       	  	  			   <div class="vertical-align">
       	  	  				<span>$<b>399</b>/mo</span>
       	  	  			   </div>	
       	  	  			  </div>	
       	  	  			</div>
       	  	  			<h4 class="h4 title">Professional</h4>
       	  	  			<div class="simple-text">
       	  	  				<p>Duis commodo risus et magna suscipit urabitur gravida efficitur purus</p>
       	  	  			</div>
       	  	  			<ul>
       	  	  				<li><b>64Gb</b> placerat volutpat </li>
       	  	  				<li><b>UNLIMITED</b> auctor</li>
       	  	  				<li><b>160Tb</b> tincidunt rutrum semper</li>
       	  	  				<li><b>120</b> placerat volutpat </li>
       	  	  			</ul>
       	  	  			<a href="#" class="link-style-1"><span>buy it now</span></a>
       	  	  		</div>
       	  	  	  </div>	
       	  	  	</div>
       	  	  </div>
			 </div>
		  </section>
          <section class="section-slider point-padd">
             <div class="container">
       	  	  <div class="section-caption">
       	  	  	  <h2 class="h2 caption-stye-1 type-2">OUR PARTNERS</h2>
       	  	  	    <div class="simple-text sm">
       	  	  	    	<p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Curabitur feugiat feugiat and brane in bibendum sed sollicitudin elit condimentum</p>
       	  	  	    </div>
       	  	  </div>
       	  	  <div class="swiper-container swiper-swiper-unique-id-2 initialized" data-autoplay="0" data-loop="0" data-speed="600" data-center="0" data-slides-per-view="responsive" data-xs-slides="1" data-sm-slides="3" data-md-slides="5" data-lg-slides="5" data-add-slides="5" id="swiper-unique-id-2">
				  <div class="swiper-wrapper" style="width: 1776px; height: 170px;">
				      <div class="swiper-slide swiper-slide-visible swiper-slide-active" style="width: 222px; height: 170px;">
				        <div class="logo-item hover-circle">
				        	<a href="#" class="image circle-point lg">
				        		<img src="img/logo_1.png" alt="">
				        	</a>
				        </div>
					  </div>
					  <div class="swiper-slide swiper-slide-visible" style="width: 222px; height: 170px;">
				        <div class="logo-item hover-circle">
				        	<a href="#" class="image circle-point lg">
				        		<img src="img/logo_2.png" alt="">
				        	</a>
				        </div>
					  </div>
					  <div class="swiper-slide swiper-slide-visible" style="width: 222px; height: 170px;">
				        <div class="logo-item hover-circle">
				        	<a href="#" class="image circle-point lg">
				        		<img src="img/logo_3.png" alt="">
				        	</a>
				        </div>
					  </div>
					  <div class="swiper-slide swiper-slide-visible" style="width: 222px; height: 170px;">
				        <div class="logo-item hover-circle">
				        	<a href="#" class="image circle-point lg">
				        		<img src="img/logo_4.png" alt="">
				        	</a>
				        </div>
					  </div>
					  <div class="swiper-slide swiper-slide-visible" style="width: 222px; height: 170px;">
				        <div class="logo-item hover-circle">
				        	<a href="#" class="image circle-point lg">
				        		<img src="img/logo_5.png" alt="">
				        	</a>
				        </div>
					  </div>
					  <div class="swiper-slide" style="width: 222px; height: 170px;">
				        <div class="logo-item hover-circle">
				        	<a href="#" class="image circle-point lg">
				        		<img src="img/logo_1.png" alt="">
				        	</a>
				        </div>
					  </div>
					  <div class="swiper-slide" style="width: 222px; height: 170px;">
				        <div class="logo-item hover-circle">
				        	<a href="#" class="image circle-point lg">
				        		<img src="img/logo_2.png" alt="">
				        	</a>
				        </div>
					  </div>
					  <div class="swiper-slide" style="width: 222px; height: 170px;">
				        <div class="logo-item hover-circle">
				        	<a href="#" class="image circle-point lg">
				        		<img src="img/logo_3.png" alt="">
				        	</a>
				        </div>
					  </div>
				  </div>
				  <div class="pagination pagination-style-1 dark bottom-lg pagination-swiper-unique-id-2"><span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch swiper-visible-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch swiper-visible-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch swiper-visible-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch swiper-visible-switch" style="display: none;"></span><span class="swiper-pagination-switch" style="display: none;"></span><span class="swiper-pagination-switch" style="display: none;"></span><span class="swiper-pagination-switch" style="display: none;"></span></div>
			  </div>
			 </div>
		  </section>
       	  <section class="section bg-grey">
             <div class="container-fluid">
       	  	  <div class="section-caption">
       	  	  	  <h2 class="h2 caption-stye-1 type-2">TESTIMONIANS</h2>
       	  	  	    <div class="simple-text sm">
       	  	  	    	<p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Curabitur feugiat feugiat and brane in bibendum sed sollicitudin elit condimentum</p>
       	  	  	    </div>
       	  	  </div>
       	  	  <div class="swiper-container testi-slider slide-max-width click-point swiper-swiper-unique-id-3 initialized" data-autoplay="0" data-loop="0" data-speed="600" data-center="1" data-slides-per-view="responsive" data-xs-slides="1" data-sm-slides="1" data-md-slides="1" data-lg-slides="1" data-add-slides="3" id="swiper-unique-id-3">
				  <div class="swiper-wrapper" style="width: 6595px; height: 270px;">
				      <div class="swiper-slide active swiper-slide-visible swiper-slide-active" data-val="0" style="width: 1319px; height: 270px;">
				        <div class="testi-block hover-circle">
				        	<div class="text">
				        		<div class="simple-text">
				        		  <i>“</i>
				        			<p>Cras pretium tellus et porttitor varius. Sed atioviverra quam, vel eleifend enim. Donec in dictum nisl. Nullam faucibus tristique lorem, sed sollicitudin ligula tincidunt </p>
				        		  <i>”</i>	
				        		</div>	
				        	</div>
				        	<div class="people vertical-align">
				        		<div class="image circle-point lg">
				        			<img src="img/people_1.png" alt="">
				        		</div>
				        		<h4 class="h4 title">alisia kister</h4>
				        		<div class="sub-title">web-designer</div>	
				        	</div>
				        </div>
					  </div>
					  <div class="swiper-slide" data-val="1" style="width: 1319px; height: 270px;">
				        <div class="testi-block hover-circle">
				        	<div class="text">
				        		<div class="simple-text">
				        		  <i>“</i>
				        			<p>Cras pretium tellus et porttitor varius. Sed atioviverra quam, vel eleifend enim. Donec in dictum nisl. Nullam faucibus tristique lorem, sed sollicitudin ligula tincidunt </p>
				        		  <i>”</i>	
				        		</div>	
				        	</div>
				        	<div class="people vertical-align">
				        		<div class="image circle-point lg">
				        			<img src="img/people_2.png" alt="">
				        		</div>
				        		<h4 class="h4 title">eshton kirck</h4>
				        		<div class="sub-title">developer</div>	
				        	</div>
				        </div>
					  </div>
					  <div class="swiper-slide" data-val="2" style="width: 1319px; height: 270px;">
				        <div class="testi-block hover-circle">
				        	<div class="text">
				        		<div class="simple-text">
				        		  <i>“</i>
				        			<p>Cras pretium tellus et porttitor varius. Sed atioviverra quam, vel eleifend enim. Donec in dictum nisl. Nullam faucibus tristique lorem, sed sollicitudin ligula tincidunt </p>
				        		  <i>”</i>	
				        		</div>	
				        	</div>
				        	<div class="people vertical-align">
				        		<div class="image circle-point lg">
				        			<img src="img/people_3.png" alt="">
				        		</div>
				        		<h4 class="h4 title">nataly mitchel</h4>
				        		<div class="sub-title">seo-maneger</div>	
				        	</div>
				        </div>
					  </div>
					  <div class="swiper-slide" data-val="3" style="width: 1319px; height: 270px;">
				        <div class="testi-block hover-circle">
				        	<div class="text">
				        		<div class="simple-text">
				        		  <i>“</i>
				        			<p>Cras pretium tellus et porttitor varius. Sed atioviverra quam, vel eleifend enim. Donec in dictum nisl. Nullam faucibus tristique lorem, sed sollicitudin ligula tincidunt </p>
				        		  <i>”</i>	
				        		</div>	
				        	</div>
				        	<div class="people vertical-align">
				        		<div class="image circle-point lg">
				        			<img src="img/people_1.png" alt="">
				        		</div>
				        		<h4 class="h4 title">alisia kister</h4>
				        		<div class="sub-title">web-designer</div>	
				        	</div>
				        </div>
					  </div>
					  <div class="swiper-slide" data-val="4" style="width: 1319px; height: 270px;">
				        <div class="testi-block hover-circle">
				        	<div class="text">
				        		<div class="simple-text">
				        		  <i>“</i>
				        			<p>Cras pretium tellus et porttitor varius. Sed atioviverra quam, vel eleifend enim. Donec in dictum nisl. Nullam faucibus tristique lorem, sed sollicitudin ligula tincidunt </p>
				        		  <i>”</i>	
				        		</div>	
				        	</div>
				        	<div class="people vertical-align">
				        		<div class="image circle-point lg">
				        			<img src="img/people_2.png" alt="">
				        		</div>
				        		<h4 class="h4 title">eshton kirck</h4>
				        		<div class="sub-title">developer</div>	
				        	</div>
				        </div>
					  </div>
				  </div>
				  <div class="pagination pagination-style-1 hidden dark bottom-lg pagination-swiper-unique-id-3"><span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch" style="display: inline-block;"></span></div>
			  </div>
			 </div>
		  </section>  
     	  <section class="section-slider point-padd" id="blog">
             <div class="container">
       	  	  <div class="section-caption">
       	  	  	  <h2 class="h2 caption-stye-1 type-2">Blog</h2>
       	  	  	    <div class="simple-text sm">
       	  	  	    	<p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Curabitur feugiat feugiat and brane in bibendum sed sollicitudin elit condimentum</p>
       	  	  	    </div>
       	  	  </div>
       	  	  <div class="row">
       	  	   <div class="swiper-container swiper-swiper-unique-id-4 initialized" data-autoplay="0" data-loop="0" data-speed="600" data-center="0" data-slides-per-view="responsive" data-xs-slides="1" data-sm-slides="2" data-md-slides="3" data-lg-slides="3" data-add-slides="3" id="swiper-unique-id-4">
				<div class="swiper-wrapper" style="width: 2280px; height: 348px;">    
       	  	  	  <div class="swiper-slide swiper-slide-visible swiper-slide-active" style="width: 380px; height: 348px;">
       	  	  	    <div class="padd-15">
       	  	  		  <div class="blog-item">
       	  	  			<div class="image hover-circle">
       	  	  				<a href="#"><img src="img/blog_img_1.jpg" alt=""></a>
       	  	  				<div class="post-date circle-point"><span class="vertical-align">15 <i>sep</i></span></div>
       	  	  			</div>
       	  	  			<h4 class="h4 title"><a href="#">company have been opened</a></h4>
       	  	  			 <div class="info-line">
       	  	  			 	<a href="#">by John Mitcher</a>
       	  	  			 	<a href="#"><span>5</span><img src="img/like.png" alt=""></a>
       	  	  			 	<a href="#"><span>8</span><img src="img/commnet.png" alt=""></a>
       	  	  			 </div>
       	  	  			 <div class="simple-text">
       	  	  			 	<p>Duis commodo risus et magna suscipit aliquam. Curabitur gravida efficitur purus. Pellentesque finibus neque sit amet justo volutpat porttitor</p>
       	  	  			 </div>
       	  	  	     </div>
       	  	  	   </div>
       	  	  	 </div>
       	  	  	 <div class="swiper-slide swiper-slide-visible" style="width: 380px; height: 348px;">
       	  	  	    <div class="padd-15">
       	  	  		  <div class="blog-item">
       	  	  			<div class="image hover-circle">
       	  	  				<a href="#"><img src="img/blog_img_2.jpg" alt=""></a>
       	  	  				<div class="post-date circle-point"><span class="vertical-align">23 <i>sep</i></span></div>
       	  	  			</div>
       	  	  			<h4 class="h4 title"><a href="#">new ection reading</a></h4>
       	  	  			 <div class="info-line">
       	  	  			 	<a href="#">by John Mitcher</a>
       	  	  			 	<a href="#"><span>5</span><img src="img/like.png" alt=""></a>
       	  	  			 	<a href="#"><span>8</span><img src="img/commnet.png" alt=""></a>
       	  	  			 </div>
       	  	  			 <div class="simple-text">
       	  	  			 	<p>Duis commodo risus et magna suscipit aliquam. Curabitur gravida efficitur purus. Pellentesque finibus neque sit amet justo volutpat porttitor</p>
       	  	  			 </div>
       	  	  		  </div>
       	  	  		</div>
       	  	  	 </div>
       	  	  	 <div class="swiper-slide swiper-slide-visible" style="width: 380px; height: 348px;">
       	  	  	    <div class="padd-15">
       	  	  		  <div class="blog-item">
       	  	  			<div class="image hover-circle">
       	  	  				<a href="#"><img src="img/blog_img_3.jpg" alt=""></a>
       	  	  				<div class="post-date circle-point"><span class="vertical-align">18 <i>sep</i></span></div>
       	  	  			</div>
       	  	  			<h4 class="h4 title"><a href="#">company have been opened</a></h4>
       	  	  			 <div class="info-line">
       	  	  			 	<a href="#">by John Mitcher</a>
       	  	  			 	<a href="#"><span>5</span><img src="img/like.png" alt=""></a>
       	  	  			 	<a href="#"><span>8</span><img src="img/commnet.png" alt=""></a>
       	  	  			 </div>
       	  	  			 <div class="simple-text">
       	  	  			 	<p>Duis commodo risus et magna suscipit aliquam. Curabitur gravida efficitur purus. Pellentesque finibus neque sit amet justo volutpat porttitor</p>
       	  	  			 </div>
       	  	  		  </div>
       	  	  		</div>
       	  	  	 </div>
       	  	  	 <div class="swiper-slide" style="width: 380px; height: 348px;">
       	  	  	    <div class="padd-15">
       	  	  		  <div class="blog-item">
       	  	  			<div class="image hover-circle">
       	  	  				<a href="#"><img src="img/blog_img_1.jpg" alt=""></a>
       	  	  				<div class="post-date circle-point"><span class="vertical-align">15 <i>sep</i></span></div>
       	  	  			</div>
       	  	  			<h4 class="h4 title"><a href="#">company have been opened</a></h4>
       	  	  			 <div class="info-line">
       	  	  			 	<a href="#">by John Mitcher</a>
       	  	  			 	<a href="#"><span>5</span><img src="img/like.png" alt=""></a>
       	  	  			 	<a href="#"><span>8</span><img src="img/commnet.png" alt=""></a>
       	  	  			 </div>
       	  	  			 <div class="simple-text">
       	  	  			 	<p>Duis commodo risus et magna suscipit aliquam. Curabitur gravida efficitur purus. Pellentesque finibus neque sit amet justo volutpat porttitor</p>
       	  	  			 </div>
       	  	  	     </div>
       	  	  	   </div>
       	  	  	 </div>
       	  	  	 <div class="swiper-slide" style="width: 380px; height: 348px;">
       	  	  	    <div class="padd-15">
       	  	  		  <div class="blog-item">
       	  	  			<div class="image hover-circle">
       	  	  				<a href="#"><img src="img/blog_img_2.jpg" alt=""></a>
       	  	  				<div class="post-date circle-point"><span class="vertical-align">23 <i>sep</i></span></div>
       	  	  			</div>
       	  	  			<h4 class="h4 title"><a href="#">new ection reading</a></h4>
       	  	  			 <div class="info-line">
       	  	  			 	<a href="#">by John Mitcher</a>
       	  	  			 	<a href="#"><span>5</span><img src="img/like.png" alt=""></a>
       	  	  			 	<a href="#"><span>8</span><img src="img/commnet.png" alt=""></a>
       	  	  			 </div>
       	  	  			 <div class="simple-text">
       	  	  			 	<p>Duis commodo risus et magna suscipit aliquam. Curabitur gravida efficitur purus. Pellentesque finibus neque sit amet justo volutpat porttitor</p>
       	  	  			 </div>
       	  	  		  </div>
       	  	  		</div>
       	  	  	 </div>
       	  	  	 <div class="swiper-slide" style="width: 380px; height: 348px;">
       	  	  	    <div class="padd-15">
       	  	  		  <div class="blog-item">
       	  	  			<div class="image hover-circle">
       	  	  				<a href="#"><img src="img/blog_img_3.jpg" alt=""></a>
       	  	  				<div class="post-date circle-point"><span class="vertical-align">18 <i>sep</i></span></div>
       	  	  			</div>
       	  	  			<h4 class="h4 title"><a href="#">company have been opened</a></h4>
       	  	  			 <div class="info-line">
       	  	  			 	<a href="#">by John Mitcher</a>
       	  	  			 	<a href="#"><span>5</span><img src="img/like.png" alt=""></a>
       	  	  			 	<a href="#"><span>8</span><img src="img/commnet.png" alt=""></a>
       	  	  			 </div>
       	  	  			 <div class="simple-text">
       	  	  			 	<p>Duis commodo risus et magna suscipit aliquam. Curabitur gravida efficitur purus. Pellentesque finibus neque sit amet justo volutpat porttitor</p>
       	  	  			 </div>
       	  	  		  </div>
       	  	  		</div>
       	  	  	 </div>
       	  	  	</div>
       	  	  	<div class="pagination pagination-style-1 dark bottom-lg pagination-swiper-unique-id-4"><span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch swiper-visible-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch swiper-visible-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch" style="display: inline-block;"></span><span class="swiper-pagination-switch" style="display: none;"></span><span class="swiper-pagination-switch" style="display: none;"></span></div>
       	  	  </div>	 
       	  	 </div>
			</div>
		 </section> 

     	  <section class="section" id="contact">
       	     <div class="bg ready data-jarallax" data-jarallax="5" style="background-image: none; background-attachment: scroll; background-size: auto;"><div id="jarallax-container-4" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; transition: transform linear -1ms, -webkit-transform linear -1ms; visibility: hidden; z-index: -100;"><div style="background-position: 50% 50%; background-repeat: no-repeat; background-image: url(&quot;file:///D:/Users/pandeyam/Documents/HTML/Paid%20Themes/demo/img/contact_bg.jpg&quot;); position: fixed; top: 0px; left: 0px; width: 1349px; height: 1118px; overflow: hidden; pointer-events: none; transition: transform linear -1ms, -webkit-transform linear -1ms; background-size: 1834.45px 1118px; visibility: visible; transform: translate3d(0px, 7115.44px, 0px);"></div></div></div>
			 <div class="black-layer"></div>
			 <div class="container">
       	  	  <div class="section-caption white-color">
       	  	  	  <h2 class="h2 caption-stye-1 type-1">do you have any questions</h2>
       	  	  	    <div class="simple-text sm">
       	  	  	       <p>Donec id justo arcu. Nullam euismod facilisis lectus eu imperdiet. In nec suscipit sapien. Aenean sit amet malesuada felis. In dignissim purus tincidunt lectus pretium, a interdum leo egestas. Nam in venenatis est, sed consequat massa</p>
       	  	  	    </div>
       	  	  </div>
       	  	  <div class="row">
       	  	  	<div class="col-md-10 col-md-offset-1">
       	  	  		<div class="contact-block">
       	  	  			<div class="contact-item">
       	  	  				<h4 class="h4 title">address</h4>
       	  	  				  <ul>
       	  	  				  	<li>319 Clematis St.  Suite 100</li>
       	  	  				  	<li>WPB, FL 33401</li>
       	  	  				  </ul>
       	  	  			</div>
       	  	  			<div class="contact-item">
       	  	  				<h4 class="h4 title">e-mail</h4>
       	  	  				  <a href="mailto:">info@treson.com</a>
       	  	  				  <a href="mailto:">admin@treson.com</a>
       	  	  			</div>
       	  	  			<div class="contact-item">
       	  	  				<h4 class="h4 title">phone</h4>
       	  	  				  <a href="tel:">+138 (095) 6526 538</a>
       	  	  				  <a href="tel:">+138 (095) 5555 538</a>
       	  	  			</div>
       	  	  			<form action="/" onsubmit="return submitForm();" method="post" name="contactform" class="contact-form" id="contact-form">
      	  	  			     <h4 class="h4 title">do you have any question?</h4>
       	  	  			     <div class="input-field col-wh-50">
								 <input placeholder="Name" name="name" required="" type="text">
								 <span></span>
							 </div>
							 <div class="input-field col-wh-50">
								 <input placeholder="E-mail" name="email" required="" type="email"> 
								 <span></span>
							 </div>
							 <div class="input-field">
								 <textarea placeholder="Message" name="message"></textarea>
								 <span></span>
							 </div>
							 <button type="submit" class="link-style-1 submit"><span>send message</span></button> 
						</form>
				        <div class="success">
      	  	  		      <div class="table-align">
	                          <div class="row-view">
		                          <div class="cell-view">
		                             <div class="thanks">
	                                   <div class="close-popup"><span>X</span></div> 
		                                <h4 class="h4 title">Your message was sent successfully</h4>
		                                  <div class="simple-text">
		                                  	<p>Duis commodo risus et magna suscipit aliquam. Curabitur gravida efficitur purus. Pellentesque finibus neque sit amet justo volutpat tincidunt enim id turpis feugiat</p>
		                                  </div>
		                             </div>
				                  </div>
							  </div>
							</div>
      	  	  		    </div>
       	  	  		</div>
       	  	  	</div>
       	  	  </div>
			 </div>
		  </section>	  	   	  	  	  
		    <div class="markers-wrapper addresses-block">
		       <a class="marker" data-rel="map-canvas" data-lat="34.0151244" data-lng="-118.4729871" data-string="4th floor, New York"></a>
		    </div>	    
     </div>