<header class="header-style-1 type-1">
       <div class="header">
          <a href="index.html" class="logo vertical-align auto">
          <%= image_tag("img/logo.png",:class => "logo-default") %>
          <%= image_tag("img/logo_scroll.png",:class => "logo-scroll") %>
            
          </a>
          <a href="#" class="burger-menu vertical-align right"><i></i></a>
		   <nav class="nav-menu vertical-align auto">
		     <ul>
		     	<li class="active"><a href="#home" class="anchor-link active">home</a></li>
		     	<li><a href="#about" class="anchor-link">about</a></li>
		     	<li><a href="#services" class="anchor-link">services</a></li>
		     	<li><a href="#price" class="anchor-link">pricing</a></li>
		     	<li><a href="#blog" class="anchor-link">blog</a></li>
		     	<li><a href="#contact" class="anchor-link">contact</a></li>
		     </ul>
		   </nav>
       </div> 
     </header>