<section class="section bg-grey" id="services">
             <div class="container">
       	  	  <div class="section-caption">
       	  	  	  <h2 class="h2 caption-stye-1 type-2">our services</h2>
       	  	  	    <div class="simple-text sm">
       	  	  	    	<p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Curabitur feugiat feugiat and brane in bibendum sed sollicitudin elit condimentum</p>
       	  	  	    </div>
       	  	  </div>
       	  	  <div class="row">
       	  	  	<div class="col-lg-6 col-md-12">
       	  	  		<div class="service-block hover-circle">
       	  	  		   <div class="image lg circle-point"><%= image_tag("img/service_img_1.png") %></div>
       	  	  			<div class="text">
       	  	  				<h4 class="h4 title">pencil art</h4>
       	  	  				 <ul class="list-style-1">
       	  	  				 	<li>placerat volutpat pretiumante bibendum</li>
       	  	  				 	<li>unc auctor ante bibendum variusvel porta</li>
       	  	  				 	<li>tincidunt ihi  variusrutrum semper</li>
       	  	  				 	<li>ante  varius placerat volutpat </li>
       	  	  				 </ul>
       	  	  			</div>
       	  	  		</div>
       	  	  	</div>
       	  	  	<div class="col-lg-6 col-md-12">
       	  	  		<div class="service-block hover-circle">
       	  	  		   <div class="image lg circle-point"><%= image_tag("img/service_img_2.png") %></div>
       	  	  			<div class="text">
       	  	  				<h4 class="h4 title">branding</h4>
       	  	  				 <ul class="list-style-1">
       	  	  				 	<li>placerat volutpat pretiumante bibendum</li>
       	  	  				 	<li>unc auctor ante bibendum variusvel porta</li>
       	  	  				 	<li>tincidunt ihi  variusrutrum semper</li>
       	  	  				 	<li>ante  varius placerat volutpat </li>
       	  	  				 </ul>
       	  	  			</div>
       	  	  		</div>
       	  	  	</div>
       	  	  	<div class="col-lg-6 col-md-12">
       	  	  		<div class="service-block hover-circle">
       	  	  		   <div class="image lg circle-point"><%= image_tag("img/service_img_3.png") %></div>
       	  	  			<div class="text">
       	  	  				<h4 class="h4 title">marketing</h4>
       	  	  				 <ul class="list-style-1">
       	  	  				 	<li>placerat volutpat pretiumante bibendum</li>
       	  	  				 	<li>unc auctor ante bibendum variusvel porta</li>
       	  	  				 	<li>tincidunt ihi  variusrutrum semper</li>
       	  	  				 	<li>ante  varius placerat volutpat </li>
       	  	  				 </ul>
       	  	  			</div>
       	  	  		</div>
       	  	  	</div>
       	  	  	<div class="col-lg-6 col-md-12">
       	  	  		<div class="service-block hover-circle">
       	  	  		   <div class="image lg circle-point"><%= image_tag("img/service_img_4.png") %></div>
       	  	  			<div class="text">
       	  	  				<h4 class="h4 title">advertising</h4>
       	  	  				 <ul class="list-style-1">
       	  	  				 	<li>placerat volutpat pretiumante bibendum</li>
       	  	  				 	<li>unc auctor ante bibendum variusvel porta</li>
       	  	  				 	<li>tincidunt ihi  variusrutrum semper</li>
       	  	  				 	<li>ante  varius placerat volutpat </li>
       	  	  				 </ul>
       	  	  			</div>
       	  	  		</div>
       	  	  	</div>
       	  	  </div>
			 </div>
		  </section>