<div class="top-baner swiper-anime arrow-closest" id="home">
	     <div class="swiper-container top-slider swiper-swiper-unique-id-0 initialized" data-autoplay="0" data-loop="0" data-speed="600" data-center="0" data-slides-per-view="1" id="swiper-unique-id-0">
			<div class="swiper-wrapper" style="width: 4047px; height: 318px;">
			   <div class="swiper-slide first-slide active swiper-slide-visible swiper-slide-active" data-val="0" style="width: 1349px; height: 318px;">
				  <div class="block-bg">
				      <div class="bg-wrap">
					     <div class="bg" style="background-image:url(img/home_1_main_slide_1.jpg)"></div>
					       <div class="black-layer"></div>
					  </div>
					  <div class="slider-caption vertical-align white-color">
					     <div class="container">
					  	    <h1 class="h1 caption-stye-1 type-1">Young Brains Technologies</h1>
							  <div class="simple-text lg">
								 <p>curabitur augue elit, egestas vitae erat sed, in the maximus sollicitudin nisi. In a diam vehicula sed sollicitudin</p>
							  </div>
					  	      <a href="#" class="link-style-1 bg-w"><span>learn more</span></a>
					  	  </div>
					  </div>
				  </div>
			   </div>
			   <div class="swiper-slide" data-val="1" style="width: 1349px; height: 318px;">
				  <div class="block-bg">
				      <div class="bg-wrap">
					     <div class="bg" style="background-image:url(img/home_1_main_slide_1.jpg)"></div>
					       <div class="black-layer"></div>
					  </div>
					  <div class="slider-caption vertical-align white-color">
					     <div class="container">
					  	    <h1 class="h1 caption-stye-1 type-1">Young Brains Technologies</h1>
							  <div class="simple-text lg">
								 <p>curabitur augue elit, egestas vitae erat sed, in the maximus sollicitudin nisi. In a diam vehicula sed sollicitudin</p>
							  </div>
					  	      <a href="#" class="link-style-1 bg-w"><span>learn more</span></a>
					  	  </div>
					  </div>
				  </div>
			   </div>
			   <div class="swiper-slide" data-val="2" style="width: 1349px; height: 318px;">
				  <div class="block-bg">
				      <div class="bg-wrap">
					     <div class="bg" style="background-image:url(img/home_1_main_slide_1.jpg)"></div>
					       <div class="black-layer"></div>
					  </div>
					  <div class="slider-caption vertical-align white-color">
					     <div class="container">
					  	    <h1 class="h1 caption-stye-1 type-1">Young Brains Technologies</h1>
							  <div class="simple-text lg">
								 <p>curabitur augue elit, egestas vitae erat sed, in the maximus sollicitudin nisi. In a diam vehicula sed sollicitudin</p>
							  </div>
					  	      <a href="#" class="link-style-1 bg-w"><span>learn more</span></a>
					  	  </div>
					  </div>
				  </div>
			   </div>
			</div>
			<div class="pagination hidden pagination-style-1 pagination-swiper-unique-id-0"><span class="swiper-pagination-switch swiper-visible-switch swiper-active-switch"></span><span class="swiper-pagination-switch"></span><span class="swiper-pagination-switch"></span></div>
			<div class="swiper-arrow-wrap">
				<div class="swiper-arrow-left swiper-arrow hover-circle">
					<span class="circle-point">
						<%= image_tag("img/prev_arrow.png") %>
					</span>
				</div>
				<div class="swiper-arrow-right swiper-arrow hover-circle">
					<span class="circle-point">
						<%= image_tag("img/next_arrow.png") %>
					</span>
				</div>
			</div>
		 </div>
     </div>