<section class="section time-line animated">
       	     <div class="bg ready data-jarallax" data-jarallax="5" style="background-image: none; background-attachment: scroll; background-size: auto;"><div id="jarallax-container-1" style="position: absolute; top: 0px; left: 0px; width: 100%; height: 100%; overflow: hidden; pointer-events: none; transition: transform linear -1ms, -webkit-transform linear -1ms; visibility: hidden; z-index: -100;"><div style="background-position: 50% 50%; background-repeat: no-repeat; background-image: url(&quot;file:///D:/Users/pandeyam/Documents/HTML/Paid%20Themes/demo/img/fact_bg.jpg&quot;); position: fixed; top: 0px; left: 0px; width: 1349px; height: 746px; overflow: hidden; pointer-events: none; transition: transform linear -1ms, -webkit-transform linear -1ms; background-size: 1839.45px 746px; visibility: visible; transform: translate3d(0px, -293.5px, 0px);"></div></div></div>
			     <div class="black-layer"></div>
			 <div class="container">
       	  	  <div class="section-caption white-color">
       	  	  	  <h2 class="h2 caption-stye-1 type-1">Interesting Facts And Figures</h2>
       	  	  	    <div class="simple-text sm">
       	  	  	    	<p>Lorem ipsum dolor sit amet, consec tetur adipiscing elit. Curabitur feugiat feugiat and brane in bibendum sed sollicitudin elit condimentum</p>
       	  	  	    </div>
       	  	  </div>
       	  	  <div class="row">
       	  	  	<div class="col-lg-3 col-md-6 col-sm-12">
       	  	  		<div class="fact-item white-color hover-circle">
       	  	  			<div class="image circle-point lg">
       	  	  			  <img src="img/fact_icon_1.png" alt="">
       	  	  			  <span class="timer" data-to="2199" data-speed="3000">2199</span> 
       	  	  			</div>
       	  	  			<h4 class="h4 title">happy clients</h4>
       	  	  			  <div class="simple-text">
       	  	  			  	 <p>Nullam placerat volutpat pretium. Nunc auctor nibh vel porta tincidunt</p>
       	  	  			  </div>
       	  	  		</div>
       	  	  	</div>
       	  	  	<div class="col-lg-3 col-md-6 col-sm-12">
       	  	  		<div class="fact-item white-color hover-circle">
       	  	  			<div class="image circle-point lg">
       	  	  			  <img src="img/fact_icon_2.png" alt="">
       	  	  			  <span class="timer" data-to="8689" data-speed="3000">8689</span> 
       	  	  			</div>
       	  	  			<h4 class="h4 title">project finished</h4>
       	  	  			  <div class="simple-text">
       	  	  			  	 <p>Nullam placerat volutpat pretium. Nunc auctor nibh vel porta tincidunt</p>
       	  	  			  </div>
       	  	  		</div>
       	  	  	</div>
       	  	  	<div class="col-lg-3 col-md-6 col-sm-12">
       	  	  		<div class="fact-item white-color hover-circle">
       	  	  			<div class="image circle-point lg">
       	  	  			  <img src="img/fact_icon_3.png" alt="">
       	  	  			  <span class="timer" data-to="959" data-speed="3000">959</span> 
       	  	  			</div>
       	  	  			<h4 class="h4 title">got awards</h4>
       	  	  			  <div class="simple-text">
       	  	  			  	 <p>Nullam placerat volutpat pretium. Nunc auctor nibh vel porta tincidunt</p>
       	  	  			  </div>
       	  	  		</div>
       	  	  	</div>
       	  	  	<div class="col-lg-3 col-md-6 col-sm-12">
       	  	  		<div class="fact-item white-color hover-circle">
       	  	  			<div class="image circle-point lg">
       	  	  			  <img src="img/fact_icon_4.png" alt="">
       	  	  			  <span class="timer" data-to="5456" data-speed="3000">5456</span> 
       	  	  			</div>
       	  	  			<h4 class="h4 title">solved problem</h4>
       	  	  			  <div class="simple-text">
       	  	  			  	 <p>Nullam placerat volutpat pretium. Nunc auctor nibh vel porta tincidunt</p>
       	  	  			  </div>
       	  	  		</div>
       	  	  	</div>
       	  	  </div>
			 </div>
		  </section>