<header>
  <div class="navbar-fixed-top">
    <%#= render :partial => 'home/top_nav' %>
    <!-- <div class="clr"></div> -->
    <a href="<%= root_url %>"> <div class="logo"></div></a>
    <%#= render :partial => 'home/home_menu' %>
  </div>
</header>


<nav class="navbar-default navbar-static-side" role="navigation">
  <div class="slimScrollDiv" style="position: relative; overflow: hidden; width: auto; height: 100%;">
    <div class="sidebar-collapse" style="overflow: hidden; width: auto; height: 100%;">
      <ul class="nav metismenu" id="side-menu">

        <li class="active">
          <i class="fa fa-dashboard"></i> <span class="nav-label">Dashboard</span>
        </li>

      </ul>

    </div>
  </div>
</nav>

